$color1 : #D9D9D9;
$color2 : #C2C2C2;

$color3 : #FF817B;
$color4 : #FFAAA6;
$color5 : #FF827C;
$color5 : #FF6861;

$gradientColor :linear-gradient(241.48deg, #FFAAA6 22.34%, #FF817B 73.86%);

.decoder{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__header{
        width: 100%;
        padding:54px 0 0 107px ;

        @media screen and (max-width: 900px){
            padding:0;
            margin:40px 0 auto;
        }
    }

    &__title{
        font-size:56px;
        font-family: 'Nova Round', cursive;
        color: $color3;

        @media screen and (max-width: 900px){
            text-align: center;
        }

    }

    &__subTitle{
        font-family: 'Roboto', sans-serif;;
        font-size: 18px;
        font-weight: 100;
        color: $color1;

        @media screen and (max-width: 900px){
            text-align: center;
            margin-top: 8px;
        } 
    }

    &__inputWrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media screen and (max-width: 900px){
            width: 90%;
            align-items: center;
        } 
    }

    &__input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 36px;
        
    }

    &__changeInput{
        width: 228px;
        height: 60px;
        background: $gradientColor;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 900px){
            width: 100%;
            height: 56px;
        } 

        p{
            font-family: 'Roboto', sans-serif;;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: white;
        }
        
        
    }

    &__textAreaInput{
        resize: none;
        max-width: 100%;
        width: 600px;
        max-height: 100%;
        height: 300px;
        font-size: 16px;
        padding:30px 38px;
        border:none;
        color: $color2;
        font-weight: 300;
        outline: none;
        box-shadow: 0px 0px 30px rgba(75, 75, 75, 0.15);

        @media screen and (max-width: 900px){
            width: 100%;
            align-items: center;
            height: 224px;
        } 
        
        &::placeholder{
            color: $color2;
            font-weight: 200;
            
        }
        
    }

    &__deleteButton{
        font-family: 'Roboto', sans-serif;;
        font-weight: 100;
        color: $color3;
        position: absolute;
        bottom: 20px;
        right: 30px;
        cursor: pointer;
        
    }
    
    &__send{

    }

    &__translater{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        background: $gradientColor;
        border-top-left-radius:40px;
        border-top-right-radius: 40px;
        margin-top: 110px;
        padding: 80px 15px 20px;

        @media screen and (max-width: 900px){
            margin-top: 50px;
            flex-direction: column;
            border-top-left-radius:20px;
            border-top-right-radius: 20px;
            padding: 40px 0 0;
            justify-content: space-between;
            align-items: center;

        } 
    }

    &__instructions{
        color: white;
        font-family: 'Roboto', sans-serif;;
        font-size: 18px;
        font-weight: 100;
        max-width: 212px;
        line-height: 24px;
        margin: 0 15px;

        @media screen and (max-width: 900px){
            text-align: center;
            width: 90%;
            max-width: 100%;
        }
    }

    &__outPut{
        max-width: 600px;
        width: 100%;
        margin: 0 15px;
        //padding: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-items: center;

        @media screen and (max-width: 900px){
            width: 90%;
            padding: 20px 0px 20px;
            margin: 0;
        }
      
    }
    
    &__characterWraper{
        display: flex;
        position: relative;
        cursor: pointer;
        
        &.selected{
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 10px;

        }

    }

    &__dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        display: block;
        margin: 5px 8px;
        pointer-events: none;
    }

    &__dash{
        width: 30px;
        height: 4px;
        border-radius: 20%;
        background-color: white;
        display: block;
        margin: 7px 8px;
        pointer-events: none;
    }

    &__nonCharacter{
        height: 15px;
        width: 4px;
        border-radius: 20%;
        background-color: white;
        display: block;
        margin: 5px 10px;
        pointer-events: none;
        transform: rotate(50deg);
        position: relative;

        &:after{
            content: '';
            width: 15px;
            height: 4px;
            border-radius: 20%;
            background-color: white;
            display: block;
            margin: 7px 8px;
            pointer-events: none;
            transform: rotate(0deg);
            position: absolute;
            top: -2px;
            left: -13px;
        }

    }

    &__whiteSpace{
        height: 24px;
        width: 4px;
        border-radius: 20%;
        background-color: white;
        display: block;
        margin: 7px 8px;
        pointer-events: none;
        transform: rotate(26deg);
        position: relative;

    }

    &__animation{
        opacity: 1;
    }

    &__toolTip{
        position: absolute;
        color: $color3;
        top: -190px;
        left: 50%;
        display: block;
        background-color: white;
        box-shadow:5px 10px 21px -6px rgba(0,0,0,0.75);
        z-index: 3;
        pointer-events: none;
        text-align: center;
        font-family: 'Roboto', sans-serif;;   
        width:100px;
        height:155px;
        font-weight: 200;
        font-size: 63px;
        animation: showToolip 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @keyframes showToolip {
            from{top: -170px; 
                 opacity: 0;
                }
            to  {top: -190px;
                 opacity: 1;
                }
        }


        &::before{
            content: '';
            position: absolute;
            top: 56px;
            left: 0px;
            width: 0px;
            height: 0px;
            border-top: 60px solid transparent;
            border-bottom: 60px solid transparent;
            border-left: 60px solid white;
        }

        i{
            z-index: 2;
        }
    }

    &__copyButton{
        color: white;
        font-family: 'Roboto', sans-serif;;
        font-size: 18px;
        background-color: $color5;
        font-weight: 500;
        border-radius: 10px 10px 10px 10px;
        padding: 44px;
        cursor: pointer;
        margin: 0 15px;
        transition: all .2s;

        &:hover{
            border-radius: 20px;
        }

        &:active{
            transform: scale(0.95);
        }

        @media screen and (max-width: 900px){
            height: 56px;
            margin: 0;
            padding: 20px 0 0;
            text-align: center;
            width: 100%;
            border-radius: 0;
            background-color: $color5;

            &:hover{
                border-radius: 0;
            }
    
            &:active{
                transform: scale(0.99);
            }

        } 

    }
    
    &__cheating{
        position: absolute;    
        bottom: 0;
        //opacity: 0;
    }
} 
