$color1 : #D9D9D9;
$color2 : #C2C2C2;

$color3 : #FF817B;
$color4 : #FFAAA6;
$color5 : #FF827C;

$gradientColor :linear-gradient(241.48deg, #FFAAA6 22.34%, #FF817B 73.86%);

.decoder{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__header{
        width: 100%;
        padding:54px 0 0 107px ;
    }

    &__title{
        font-size:56px;
        font-family: 'Nova Round', cursive;
        color: $color3;
    }

    &__subTitle{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 100;
        color: $color1;
    }

    &__inputWrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 36px;
        
    }

    &__changeInput{
        width: 228px;
        height: 60px;
        background: $gradientColor;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        p{
            font-family: sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: white;
        }
        
        
    }

    &__textAreaInput{
        resize: none;
        max-width: 100%;
        width: 600px;
        max-height: 100%;
        height: 300px;
        font-size: 16px;
        padding:30px 38px;
        border:none;
        color: $color2;
        font-weight: 300;
        outline: none;
        box-shadow: 0px 0px 30px rgba(75, 75, 75, 0.15);
        
        &::placeholder{
            color: $color2;
            font-weight: 200;
            
        }
        
    }

    &__deleteButton{
        font-family: sans-serif;
        font-weight: 100;
        color: $color3;
        position: absolute;
        bottom: 20px;
        right: 30px;
        cursor: pointer;
        
    }
    
    &__send{

    }

    &__translater{
        height: 380px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        background: $gradientColor;
        border-top-left-radius:40px;
        border-top-right-radius: 40px;
        margin-top: 110px;
        padding: 50px 0;
    }

    &__instructions{
        color: white;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 100;
        max-width: 212px;
        line-height: 24px;
    }

    &__outPut{
        max-width: 600px;
        width: 100%;
        //margin: 70px auto 0 auto;
        //padding: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      
    }
    
    &__characterWraper{
        display: flex;
        position: relative;
        cursor: pointer;
        
        &.selected{
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 10px;

        }

    }

    &__dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        display: block;
        margin: 5px 8px;
        pointer-events: none;
    }

    &__dash{
        width: 30px;
        height: 4px;
        border-radius: 20%;
        background-color: white;
        display: block;
        margin: 7px 8px;
        pointer-events: none;
    }

    &__nonCharacter{
        color: white;
        font-size: 30px;
        position: relative;
        font-weight: 600;
        top: -5px;
        margin: 0 5px;
        opacity: 1;
        pointer-events:none;
    }

    &__animation{
        opacity: 1;
    }

    &__toolTip{
        position: absolute;
        color: $color3;
        top: -190px;
        left: 50%;
        display: block;
        background-color: white;
        box-shadow:5px 10px 21px -6px rgba(0,0,0,0.75);
        z-index: 3;
        pointer-events: none;
        text-align: center;
        font-family: sans-serif;   
        //width: 129px;
        //height: 161px;
        padding: 46px 37px;
        font-weight: 200;
        font-size: 63px;
        animation: showToolip 0.2s;
        
        @keyframes showToolip {
            from{top: -170px; 
                 opacity: 0;
                }
            to  {top: -190px;
                 opacity: 1;
                }
        }


        &::before{
            content: '';
            position: absolute;
            top: 56px;
            left: 0px;
            width: 0px;
            height: 0px;
            border-top: 60px solid transparent;
            border-bottom: 60px solid transparent;
            border-left: 60px solid white;
        }
    }

    &__copyButton{
        color: white;
        font-family: sans-serif;
        font-size: 18px;
        background-color: $color5;
        font-weight: 500;
        border-radius: 10px;
        padding: 44px;
        cursor: pointer;
    }
    
} 
